@import "general.scss";
/*about*/

.about {
    background-color: $lightBlue;
}

.about--container {
    padding: 60px 165px;
}

.about__list {
    @include displayFlexSpaceBetween;
    align-items: center;
}

.about__a {
    display: grid;
    grid-template-columns: 60px 270px;
    align-items: center;
    box-shadow: 0px 16px 16px #dde6eb;
    padding: 20px 0px 20px 20px;
    color: $blueColorText;

    &:hover {
        background-color: $blueColorText;
        color: $whiteColor;
    }

    &:hover > svg > path {
        fill: $whiteColor;
    }
}

.about__a > svg > path {
    fill: $blueColorText;
}

.about__img {
    width: 40px;
    height: 40px;
}

.about__p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

@media (max-width: 1339px) {
    .about__list {
        flex-direction: column;
    }

    .about__list-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 1441px) and (min-width: 1024px) {

}

@media (max-width: 1023px) and (min-width: 769px) {

}

@media (max-width: 768px) and (min-width: 376px) {

}


@media (max-width: 375px) {
}