* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url("./fonts/Raleway-Bold.woff2") format("woff2"), url("./fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
    font-family: "Raleway";
    font-weight: 900;
    src: url("./fonts/Raleway-Black.woff2") format("woff2"), url("./fonts/Raleway-Black.woff") format("woff");
}

$blueColorText: #0d5adc;
$blackColorText: #3b4157;
$whiteColor: #ffffff;
$grayColor1: #9eaec6;
$grayColor2: #cdcfd2;
$lightBlue: #f4f9fc;

@mixin displayFlexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: $whiteColor;
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 3px solid transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $blueColorText;
}

.swiper-pagination-bullet:focus {
    outline: none;
}

.swiper-pagination-bullet:hover {
    background-color: $blueColorText;
}

.swiper-pagination-bullet {
    background-color: #c4c4c4;
    margin: 4px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}
