@import "general.scss";
/*services*/

.services--container {
    padding: 75px 165px 90px;
}

.services--h2 {
    margin-bottom: 35px;
}

.services__a {
    width: 350px;
    height: 154px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #dde6eb;
    margin-bottom: 20px;
}

.services__list {
    @include displayFlexSpaceBetween;
    flex-wrap: wrap;
}

.services__a-1 {
    background-image: url("../images/services1.png");
}

.services__a-2 {
    background-image: url("../images/services2.png");
}

.services__a-3 {
    background-image: url("../images/services3.png");
}

.swiper-button-next-4, .swiper-button-prev-4, .swiper-pagination-4 {
    display: none;
}



@media (max-width: 1399px) and (min-width: 769px) {

    .services__list {
        justify-content: center;
    }

    .services__list-item {
        margin: 10px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {


    .services__a {
        width: 310px;
    }

    .swiper-button-next-4, .swiper-button-prev-4, .swiper-pagination-4 {
        display: block;
    }

}

@media (max-width: 1024px) {

    .swiper-pagination-4  {
        left: 45%;
    }

    .services__a {
        width: 280px;
        margin: 0 auto 20px;
        background-size: 90%;
    }
}

@media (max-width: 768px) {

    .swiper-button-next, .swiper-button-prev {
        top: 40%;
    }

    .swiper-button-prev-4 {
        left: 0;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0;
    }

    .swiper-button-next-4, .swiper-button-prev-4, .swiper-pagination-4 {
        display: block;
    }

}

@media (max-width: 768px) and (min-width: 376px) {

    .services--container {
        padding: 60px 40px;
    }

    .mySwiper1.swiper-slide-1 {
        height: 800px;
    }

}


@media (max-width: 375px) {

    .services--container {
        padding: 30px 15px 75px;
    }

    .footer--logo-wrapper {
        grid-template-columns: 45px 250px;
    }

    .services--h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .services__a {
        width: 280px;
        margin: 0 auto 20px;
        background-size: 90%;
    }

    .services__p {
        margin-bottom: 20px;
    }

}