section.about
         div.container.about--container
          ul.about__list
           li.about__list-item
             a(href="").about__a
               include ../images/about1.svg
               p.about__p Государственные вузы

           li.about__list-item
             a(href="").about__a 
              include ../images/about2.svg
              p.about__p Направления подготовки
            
           li.about__list-item
             a(href="").about__a 
              include ../images/about3.svg
              p.about__p Правила поступления 
         