section.admission
         div.container.admission--container
          h2.h2.admission--h2 Как поступить в вуз 
          div.admission--grid
           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-1.admission__grid--border
            div.admission__p-wrapper
              p.admission__grid-p--blue 1
              p.admission__grid-p <span class="admission__grid-p--blue">Выберите</span> специальность


           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-2.admission__grid--border
            div.admission__p-wrapper
              p.admission__grid-p--blue 2
              p.admission__grid-p <span class="admission__grid-p--blue">Выберите</span> вуз

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-3
            div.admission__p-wrapper
              p.admission__grid-p--blue 3
              p.admission__grid-p <span class="admission__grid-p--blue">Сдайте</span> ЕГЭ*

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-4.admission__grid--border
            div.admission__p-wrapper
              p.admission__grid-p--blue 4
              p.admission__grid-p <span class="admission__grid-p--blue">Подайте</span> заявление о приеме в вуз

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-5
            div.admission__p-wrapper
              p.admission__grid-p--blue 5
              p.admission__grid-p <span class="admission__grid-p--blue">Сдайте</span> вступительные испытания

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-6.admission__grid--border
            div.admission__p-wrapper
              p.admission__grid-p--blue 6
              p.admission__grid-p <span class="admission__grid-p--blue">Подайте</span> заявление о согласии на зачисление в вуз

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-7.admission__grid--border
            div.admission__p-wrapper
              p.admission__grid-p--blue 7
              p.admission__grid-p <span class="admission__grid-p--blue">Принесите</span> оригиналы документа об образовании

           div.admission__grid-item
            div.admission__grid-img.admission__grid-img-8
            div.admission__p-wrapper
              p.admission__grid-p--blue 8
              p.admission__grid-p <span class="admission__grid-p--blue">Пройдите</span> медицинское обследование*

          div.swiper.swiper-2 
            div.swiper-wrapper

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-1
                  div.admission__grid-img.admission__grid-img-1.admission__grid--border
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 1
                    p.admission__grid-p <span class="admission__grid-p--blue">Выберите</span> специальность

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-2
                  div.admission__grid-img.admission__grid-img-2.admission__grid--border
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 2
                    p.admission__grid-p <span class="admission__grid-p--blue">Выберите</span> вуз

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-3
                  div.admission__grid-img.admission__grid-img-3
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 3
                    p.admission__grid-p <span class="admission__grid-p--blue">Сдайте</span> ЕГЭ*

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-4
                  div.admission__grid-img.admission__grid-img-4.admission__grid--border
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 4
                    p.admission__grid-p <span class="admission__grid-p--blue">Подайте</span> заявление о приеме в вуз


              div.swiper-slide
                div.admission__grid-item.admission__grid-item-5
                  div.admission__grid-img.admission__grid-img-5
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 5
                    p.admission__grid-p <span class="admission__grid-p--blue">Сдайте</span> вступительные испытания

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-6
                  div.admission__grid-img.admission__grid-img-6.admission__grid--border
                  div.admission__p-wrapper
                     p.admission__grid-p--blue 6
                     p.admission__grid-p <span class="admission__grid-p--blue">Подайте</span> заявление о согласии на зачисление в вуз

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-7
                  div.admission__grid-img.admission__grid-img-7.admission__grid--border
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 7
                    p.admission__grid-p <span class="admission__grid-p--blue">Принесите</span> оригиналы документа об образовании

              div.swiper-slide
                div.admission__grid-item.admission__grid-item-8
                  div.admission__grid-img.admission__grid-img-8
                  div.admission__p-wrapper
                    p.admission__grid-p--blue 8
                    p.admission__grid-p <span class="admission__grid-p--blue">Пройдите</span> медицинское обследование*
          .swiper-pagination.swiper-pagination-2
          p.admission--p-additional-option *При необходимости