footer.footer
        div.container.footer--container

         div
           div.logo-wrapper.footer--logo-wrapper
            include ../images/logo.svg
            p.footer--logo-p.logo-p ПОСТУПАЙ ПРАВИЛЬНО
           
         div.footer__error
           p Нашли ошибку? 
           p.footer--error-p-info Сообщите нам на почту 
           a(href="") supportpp@digitalobr.ru 
           
         div.footer__quote © При цитировании информации с сайта ссылка на первоисточник обязательна