header.header 
       div.container.header--container 
        a(href="").logo-wrapper
          include ../images/logo.svg
          p.header--logo-p.logo-p ПОСТУПАЙ ПРАВИЛЬНО
        a(href="#").header--entrance-a
          p.header--entrance-p Войти
          include header-icon.pug