html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Поступай правильно"
    link(rel='stylesheet', href='./main.css', type='text/css')
  body
      header.header 
       div.container.header--container 
        div.header--logo-wrapper
          svg.header--logo-svg
          p.header--logo-p ПОСТУПАЙ ПРАВИЛЬНО
        a(href="#").header--entrance-a
          p.header--entrance-p Войти
          svg.header--entrance-svg
      main
        section.search
         div.container.search--container
          div.swiper-container.mySwiper1
           .swiper-slide ghghg
           .swiper-slide ggg
           .swiper-slide
           .swiper-pagination 




        section.about
         div.container.about--container  
        section.admission
         div.container.admission--container  
        section.news
         div.container.news--container  
        section.services
         div.container.services--container  
    
      footer.footer

      script(src='./app.js')
      //- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    

