html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
      header.header 
       div.container 
        div
          svg 
          p ПОСТУПАЙ ПРАВИЛЬНО
        a(href="#")
          p Войти
          svg 

