html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
      h1 Hello, World!
      ul
        li gh
        li rrr
        li yy
        li uu
        li ii