<svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.0507 15.4016L16.9582 12.2016L28.872 0L40 11.4211L32.9024 18.7057L29.8606 15.5317L34.2712 10.9789L29.3283 5.90569L20.0507 15.4016Z" fill="#EF4058"/>
<path d="M32.1673 19.4602L29.0494 16.3122L19.924 25.7041L15.6907 21.4114L12.6743 24.5333L19.924 32L32.1673 19.4602Z" fill="#EF4058"/>
<path d="M5.75412 11.0049L14.9303 20.5008L11.8885 23.5968L0 11.4472L11.128 0L19.2902 8.3252L16.2738 11.4472L10.6971 5.90569L5.75412 11.0049Z" fill="#EF4058"/>
</svg>
