section.news
         div.container.news--container
          div.news__heading
           h2.h2.news--h2 Новости
           a(href="#") Все новости
          

          div.swiper-button--wrapper-3
            .swiper-button-next.swiper-button-next-3
            .swiper-button-prev.swiper-button-prev-3
          .swiper.swiper-3
            .swiper-wrapper.news__list#newsList 
              .swiper-slide.news__list-item
                 a(href="").news__a
                  img(src="../images/news1.jpg", alt="новость1")
                  div.news__description
                    div.news__wrapper--description
                      h3.news__description--h3 Проект расписания ГИА-11
                      p.news__description--p Тут будет подзаголовокТут будет подзаголовокТут будет подзаголовок
                    div.news__date 06.02.2021
               
              .swiper-slide.news__list-item
                  a(href="").news__a
                    img(src="../images/news2.jpg", alt="новость1")
                    div.news__description
                      div.news__wrapper--description
                        h3.news__description--h3 Проведение основного государственного экзамена (ОГЭ) по предметам по выбору в 2021 г.
                        p.news__description--p Тут будет подзаголовок
                      div.news__date 29.01.2021


              .swiper-slide.news__list-item
                  a(href="").news__a
                    img(src="../images/news3.jpg", alt="новость1")
                    div.news__description
                      div.news__wrapper--description
                        h3.news__description--h3 Итоговое сочинение
                        p.news__description--p Тут будет подзаголовокТут будет подзаголовокТут будет подзаголовок
                      div.news__date 29.01.2021
          .swiper-pagination.swiper-pagination-3 