section.search
         div.container.search--container
            .swiper.swiper-1
              .swiper-wrapper
                .swiper-slide
                  div.swiper-slide--style
                    h1.search--h1 &nbsp;Выбирай лучшее - 
                      div.search--h1-highlight.search--h1-highlight-1 
                        p &nbsp;поступай правильно
                    a(href="#").search--a Начать поиск
                    img(src="../images/search-img1.png", alt="illustration").search__pic

                .swiper-slide 
                  div.swiper-slide--style
                    h1.search--h1 
                      div.search--h1-highlight.search--h1-highlight-2 &nbsp;Твой билет 
                      div в будущее
                    a(href="#").search--a Начать поиск
                    img(src="../images/search-img2.png", alt="illustration").search__pic

                .swiper-slide 
                  div.swiper-slide--style
                    h1.search--h1 
                      span Открывай 
                      span.search--h1-highlight.search--h1-highlight-3 новые 
                      span.search--h1-highlight.search--h1-highlight-4 &nbsp;возможности
                    a(href="#").search--a Начать поиск
                    img(src="../images/search-img3.png", alt="illustration").search__pic

              .swiper-pagination.swiper-pagination-1