section.services
         div.container.services--container
          h2.h2.services--h2 Вам может быть интересно 
          div.swiper.swiper-4
            div.swiper-wrapper.services__list#servicesList 
            
              .swiper-slide.services__list-item
                a(href="").services__a.services__a-1 
                p.services__p Онлайн-сервис самопроверки  

              .swiper-slide.services__list-item
                a(href="").services__a.services__a-2 
                p.services__p Проверка результатов ЕГЭ 

              .swiper-slide.services__list-item
                a(href="").services__a.services__a-3 
                p.services__p Официальный информационный портал ЕГЭ 

            div.swiper-button-next.swiper-button-next-4
            div.swiper-button-prev.swiper-button-prev-4 
          div.swiper-pagination.swiper-pagination-4 